<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <h1>Welcome to GoMobily!</h1>

      <h2>Search for accessibility information here</h2>

      <div class="xs-col-12">
        <%= form_tag location_path, :method => :get do |f| %>
        <div class="form-inline">
        <%= search_field(:location_category, params[:location_category], collection: ['Accommodation','Bar/cafe','Cinema','Cultural site','Museum','Park','Public transport','Restaurant'], placeholder: "Choose a category", class: "form-control") %>
        <%= search_field(:name, params[:name], placeholder: "Enter name", class: "form-control") %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

