<%= content_for(:title) do %>
  Home
<% end %>

<%= content_for(:description) do %>
  <%# TODO %>
<% end %>

<div id="home">
  <div class="filter-purple"></div>
  <div class="container text-center">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-white">
        <h1>Welcome to GoMobily!</h1>

        <h2>Search for accessibility information here</h2>

        <div class="xs-col-12">
          <%= form_tag(locations_path, method: "get", class: "") do %>
          <div class="form-inline">
            <%= select_tag :category, options_for_select(['Accommodation','Bar/cafe','Cinema','Cultural site','Museum','Park','Public transport','Restaurant']), prompt: "Choose a category", class: "form-control" %>
            <%= text_field_tag(:name, nil, placeholder: "Search for a location", class: "form-control") %>
            <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

