<div class="card">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <h2 class="text-center"> Hello <%= current_user.name %> </h1>
        <div class="text-center">
        <div class='img-circle'><%= image_tag(current_user.picture.url(:medium), :class=> "img-show") %></div>
        <div><%= current_user.email %></div>
        </div>
        <div><%= link_to "edit",  edit_user_registration_path, :class=>"pull-right" %></div>
      </div>
  <div class="col-xs-6">
  <h2 class="text-center">My reviewed locations</h2>
  <div>
    <% @locations.each do |location| %>
      <%= location.name %>
      in <%= location.city %>
      <%= link_to location.name, location_path(location) %>

      <div>
        <% location.reviews.where(user_id: current_user.id).each do |review| %>
          <%= review.rating %>
          <%= review.content %>
          <%= link_to 'delete', account_review_path(review), method: :delete, data: { confirm: "Are you sure?" } %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>


