<div class="card" id="review-form-container">
  <div class="container">
    <div class="row">
      <div class="col-xs-offset-2 col-xs-8">
          <h1>Write a review for <%= @location.name.capitalize %></h1>
          <% form_id = "#{@location.id}_rating" %>
          <%= simple_form_for [@location, @review], :html => {:id => "#{form_id}"} do |f| %>
            <%#= f.hidden_field :location_id %>
            <%= f.hidden_field :rating, :id => "#{form_id}_stars", value: 0 %>
            <% (1..5).each do |i| %>
              <i class="fa fa-star star_rating" data-stars="<%= i %>" data-form-id="<%= "#{form_id}_#{i}" %>" id="<%= "#{form_id}_#{i}" %>"></i>
            <% end %>
            <span>(Score out of 5)</span>
            <div class="padded-small"></div>


            <%= f.input :content, :cols => "40", :rows => "10", input_html: { placeholder: "Your review helps others know accessibility about awesome locations", class: "form-control" }%>

            <%= f.submit "Post my review"%>
            <%= link_to 'Cancel', location_reviews_path %>
          <% end %>

          <div class="row">
            <div class="col-xs-12">
              <p class="text-center location-back">
                <%= link_to :back do  %>
                  <i class="fa fa-arrow-left"></i> Back
                <% end %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
