<div class="card">
  <h1>Write a Review</h1>
  <h2>Your review</h2>
  <div class="form">
    <% form_id = "#{@location.id}_rating" %>
    <%= form_for [@location, @review], :html => {:id => "#{form_id}"} do |f| %>
      <%#= f.hidden_field :location_id %>
      <%= f.hidden_field :rating, :id => "#{form_id}_stars" %>
      <% (1..5).each do |i| %>
        <i class="fa fa-star star_rating" data-stars = "<%= i %>" data-form-id = "<%= "#{form_id}_#{i}" %>" id="<%= "#{form_id}_#{i}" %>"></i>
      <% end %>
  </div>
  <div>
      <%= f.text_area :content, placeholder: "your review helps others know accessibility about awesome locations" %>
      <div>
      <%= f.button "Post my review" %>
      <%= link_to 'Cancel', location_reviews_path %>
      </div>
    <% end %>
    <div>

    </div>
  </div>
</div>
