<div class="container">
  <div class="card">
    <h1 class="text-center">Edit Location</h1>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 col-xs-12">
            <div class="form">
               <%= simple_form_for @location, html: {multipart: true} do |f| %>
              <%= f.input :name %>
              <%= f.input :description %>
              <%= f.input :telephone %>
              <%= f.input :website %>
              <%= f.input :email %>
              <%= f.label :photo %>
              <%= f.file_field :photo %>
              <%= f.input :street %>
              <%= f.input :city %>
              <%= f.input :postcode %>
              <%= f.input :location_category, collection: [
                'Accommodation',
                'Bar/cafe',
                'Cinema',
                'Cultural site',
                'Museum/Gallery',
                'Park',
                'Public transport',
                'Restaurant'] %>
              <!-- %= f.input :validated, wrapper: :vertical_boolean %> -->
              <%= f.input :wheelchair_access, wrapper: :vertical_boolean %>
              <%= f.input :step_free_access, wrapper: :vertical_boolean %>
              <%= f.input :automatic_doors, wrapper: :vertical_boolean %>
              <%= f.input :disabled_parking, wrapper: :vertical_boolean %>
              <%= f.input :accessible_toilets, wrapper: :vertical_boolean %>
              <%= f.button :submit, "Update listing", :class => "btn" %>
            <% end %>
            <div class="home-icon"></div>
            <i class="fa fa-trash-o"></i><%= link_to 'Cancel', locations_path %>
          </div>
        </div>
      </div>
  </div>
