<h1 class="text-center">Listings</h1>
<div class="container">
<div class="row">
  <div class="xs-col-12">
      <%= form_tag @location_path, :method => :get do |f| %>
        <div class="form-inline">
        <%= search_field(:location_category, params[:location_category], collection: ['Accommodation','Bar/cafe','Cinema','Cultural site','Museum','Park','Public transport','Restaurant'], placeholder: "Choose a category", class: "form-control") %>
          <%= search_field(:name, params[:name], placeholder: "Enter name", class: "form-control") %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
          <%= search_field(:name, params[:name], placeholder: "Filter by:", class: "form-control") %>
          <%= submit_tag "Search", :name => nil, class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="listing text-center">
          <div class="row">
          <% @locations.each do |location| %>
            <div class="col-xs-6">
              <p class="location-details"><%= location.name %></p>
              <% if location.photo? %>
              <%= image_tag location.photo.url(:thumb) %>
              <% else %>
              <%= image_tag 'placeholder.jpg', height: '100px' %>
              <% end %>
              <p><%= link_to "View location", location_path(location), class: "btn btn-primary" %></p>
              </div>
            <% end %>
            </div>
          </div>
        </div>
      <div class="col-xs-6">
      <%= image_tag 'map-placeholder.png', width: '80%' %>
      </div>
    </div>
  <i class="fa fa-chevron-circle-left"></i><%= link_to "Back", :back %>
</div>
