<div class="card">
  <div class="container">
    <div class="row">
          <div class="col-xs-8">
            <h1 class="text-center"><%= @location.name %></h1>
            <% if @location.photo? %>
            <%= image_tag @location.photo.url(:medium), :class=> "pull-left img-show" %>
            <% else %>
            <%= image_tag 'placeholder.jpg', width: '40%', :class=> "pull-left img-show" %>
            <% end %>
            <p class="location-category"><%= @location.location_category %></p>
            <p class="description">Description: <%= @location.description %></p>
            <% if @location.telephone? %>
            <p class="location-details">Telephone: <%= @location.telephone %></p>
            <% end %>
            <% if @location.website? %>
            <p class="location-details">Website: <%= link_to @location.website, @location.website, target: "_blank" %></p>
            <% end %>
            <p class="location-details">Address: <%= @location.street %>, <%= @location.city %> <%= @location.postcode %></p>
          </div>
        <div class="col-xs-4">
        <!-- %= image_tag 'map-placeholder.png', width: '90%' %> -->
          <div id="map" class="map-show" style="width: 90%; height: 300px"></div>

          <% content_for(:after_js) do %>
          <%= javascript_tag do %>
          $(document).on('ready', function() {
            handler = Gmaps.build('Google');
            handler.buildMap({ internal: { id: 'map' } }, function(){
              markers = handler.addMarkers(<%= raw @markers.to_json %>);
              handler.bounds.extendWith(markers);
              handler.fitMapToBounds();
              handler.getMap().setZoom(14);
            });
          })
        <% end %>
      <% end %>
        <!-- Only if admin -->
        <ul class="text-center list-inline">
          <li><%= link_to 'Edit listing', edit_location_path %></p></li>
        <!-- % if policy(location).destroy? %> -->
        <!-- % end %> -->
        <!-- % if policy(location).destroy? %> -->
        <li><%= link_to "Delete", location_path(@location), :method => :delete , data: { confirm: 'Are you sure?' } %></li>
      </ul>
        <!-- % end %> -->
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <ul class="list-inline">
          <% if @location.wheelchair_access? %>
          <li><i class="fa fa-wheelchair"></i>Wheelchair access</li>
          <% end %>
          <% if @location.step_free_access? %>
          <li><%= image_tag "step_free.png", :style=> "height: 18px" %> Step-free access</li>
          <% end %>
          <% if @location.automatic_doors? %>
          <li><%= image_tag "doors.png", :style=> "height: 25px" %> Automatic doors</li>
          <% end %>
          <% if @location.disabled_parking? %>
          <li><%= image_tag "parking.png", :style=> "height: 18px" %> Disabled parking</li>
          <% end %>
          <% if @location.accessible_toilets? %>
          <li><%= image_tag "toilets.png", :style=> "height: 18px" %></i> Accessible toilets</li>
          <% end %>
          </ul>
          <p class="text-center"><%= link_to 'Back to search results', :back %></p>
      </div>
    </div>
  </div>
</div>
